.title-slide {
  background-image: url(https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png);
	background-position: right 15px bottom 15px;
}

a, a > code {
  color: rgb(0, 153, 255);
  text-decoration: none;
}

.small { font-size: 60% }